*{
    margin:0px;
    padding:0px;
    font-family: Cambria;
    color:black;

}

.container{
    width:80%;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: 10%;
    background-color:lightpink;
}

.padd{
        padding:20px;

}
.header{
    height:50px;
    width:100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}
.cards{
    width:100%;
    /* background-color: lightslategray; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.card{
    height:300px;
    width:18%;
    background-color: lightyellow;
    margin-top: 20px;
    background-size: cover;

}
.overlay{
    height: 300px;
    width: 100%;
    background-color: darkgrey;
}
.opened{
    display: none;
} 
