body{
    background-color: rgb(172, 226, 62);
}
button{
    height: 38px;
    background-color: rgb(0, 0, 0);
    border: 2px solid black; 
    color: white;
    width: 200px;
    text-align: left;
    margin: auto;
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: x-large;
}
button:hover {
    background-color: burlywood;
    color: black;
} 
.text{
    width: 200px;
    height: 29px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
p{
    text-align: center;
}